<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cmfz.dao.ArticleDao">
    <insert id="insertArticle" parameterType="Article">
        insert into
        article
        VALUES(DEFAULT,#{articlename},#{guruid},#{articleintroduction},#{datetime,jdbcType=TIMESTAMP},#{articlestatus})
    </insert>

</mapper>
