<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cmfz.dao.GuruDao">

    <resultMap id="selectAllGuruMap" type="Guru">
        <id property="guruid" column="guru_id"/>
        <result property="guruname" column="guru_name"/>
        <result property="gurupic" column="guru_pic"/>
        <result property="gurusummary" column="guru_summary"/>
        <result property="gurustatus" column="guru_status"/>
        <result property="createtime" column="create_time"/>
    </resultMap>
    <select id="selectAllGuru" resultMap="selectAllGuruMap">
        select g.* from (select * from guru
          <where>
              <if test="id !=null">
                  guru_id=#{id}
              </if>
              <if test="name !=null">
                  guru_name=#{name}
              </if>
              <if test="status !=null">
                  guru_status=#{status}
              </if>
          </where>
        order by guru_id asc ) g
        limit #{start},#{end}
    </select>

    <select id="selectAllCount" resultType="Integer">
        select count(*) from guru
    </select>

</mapper>
